:root {
  --color-primary: #4066a5;
  --color-primary-dark: #131821;
  --color-primary-grey: #6a707b;
  --color-primary-light-grey: #e3e3e4;
  --color-primary-gradient: #f2f5fa;
  --color-primary-white: #ffffff;
  --color-facebook-hover: #4267b2;
  --color-instagram-hover: #c13584;
  --color-twitter-hover: #1da1f2;
  --color-youtube-hover: #ff0000;
  --color-facebook-pressed: #2f4a80;
  --color-instagram-pressed: #8f2762;
  --color-twitter-pressed: #177fbf;
  --color-youtube-pressed: #cc0000;
}
/* A font with custom icons */
@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?8kbg9f");
  src: url("../fonts/icomoon.eot?8kbg9f#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?8kbg9f") format("truetype"),
    url("../fonts/icomoon.woff?8kbg9f") format("woff"),
    url("../fonts/icomoon.svg?8kbg9f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_successful_sub:before {
  content: "\e904";
  color: var(--color-primary);
}
.icon-ic_arrow:before {
  content: "\e903";
}
.icon-ic_facebook:before {
  content: "\e900";
}
.icon-ic_twitter:before {
  content: "\e901";
}
.icon-ic-instagram:before {
  content: "\e902";
}
.icon-ic-youtube:before {
  content: "\1f324";
}

.social-buttons > * span {
  opacity: 0.3;
}

.social-button#facebook:hover {
  background-color: var(--color-facebook-hover);
}

.social-button#twitter:hover {
  background-color: var(--color-twitter-hover);
}

.social-button#youtube:hover {
  background-color: var(--color-youtube-hover);
}

.social-button#instagram:hover {
  background-color: var(--color-instagram-hover);
}

.social-button#facebook:active {
  background-color: var(--color-facebook-pressed);
}

.social-button#instagram:active {
  background-color: var(--color-instagram-pressed);
}

.social-button#twitter:active {
  background-color: var(--color-twitter-pressed);
}

.social-button#youtube:active {
  background-color: var(--color-youtube-pressed);
}

.social-buttons > *:hover span {
  opacity: 1;
  color: var(--color-primary-white);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.pineapple-left {
  display: flex;
  align-items: center;
}

.pineapple {
  background-image: url("../icons&pictures/Union.png");
  height: 40px;
  width: 25px;
  position: relative;
  bottom: 6px;
  right: 3px;
}

.pineapple-left a {
  text-decoration: none;
  color: var(--color-primary-dark);
  font-weight: 400;
  font-size: 16px;
  margin-left: 12px;
}

.links {
  display: flex;
  align-items: center;
}

.links li {
  list-style-type: none;
  margin-left: 20px;
}

.links li a {
  text-decoration: none;
  color: var(--color-primary-grey);
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  white-space: nowrap;
}

.first-half {
  height: 100%;
  padding: 5rem;
  padding-bottom: 0;
  flex: 0 1 40vw;
  background: linear-gradient(
    180deg,
    var(--color-primay-white) 0%,
    var(--color-primary-gradient) 100%
  );
}

.second-half {
  flex: 0 1 77vw;
  background-image: url("../icons&pictures/image_summer.jpg");
  background-repeat: no-repeat;
}

.subscribe {
  margin-top: 130px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}

.successful_icon_wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 70px;
  margin-bottom: 30px;
  margin-left: 1.5rem;
}

.title-1 {
  font-size: 32px;
  font-weight: 400;
  font-family: Georgia;
  line-height: 44px;
  color: var(--color-primary-dark);
  width: 100%;
  margin-left: 1.5rem;
}

.title-2 {
  padding-top: 15px;
  width: 100%;
  margin-left: 1.5rem;
}

.title-2 p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-primary-grey);
  line-height: 28px;
}

form {
  width: 100%;
}

#submit {
  display: none;
}

input[type="text"] {
  display: flex;
  border: 1px solid var(--color-primary-light-grey);
  border-left: 4px solid var(--color-primary);
  padding: 25px;
  flex: 0 1 30vw;
  transition: 0.5s;
  color: #131821;
  font-size: 16px;
  width: 100%;
  flex-grow: 1;
}

input[type="text"]:hover {
  border: 1px solid var(--color-primary);
  border-left: 4px solid var(--color-primary);
}

input[type="text"]:focus {
  outline: none;
}

input[type="checkbox"] {
  margin: 0.5rem;
}

.input-wrapper {
  display: flex;
  width: 100%;
}

.wrapper button {
  outline: none;
  opacity: 0.3;
  background-color: var(--color-primay-white);
}

.wrapper:hover .icon-ic_arrow {
  color: var(--color-primary);
  opacity: 1;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 40px 0;
  margin-bottom: 0;
}

.wrapper button {
  position: relative;
  right: 4rem;
  font-size: 14px;
  border: none;
}

#message {
  color: var(--color-youtube-pressed);
}

.terms-services {
  align-items: baseline;
  justify-content: flex-start;
  color: var(--color-primary-grey);
  margin-left: 4.5rem;
}

u {
  color: var(--color-primary-dark);
}

hr {
  margin: 50px 1.5rem;
  border: 0.5px solid var(--color-primary-light-grey);
  width: 100%;
}

.social-buttons {
  display: flex;
  justify-content: center;
  padding-right: 0.2rem;
}

.social-button {
  border: 2px solid var(--color-primary-light-grey);
  border-radius: 50%;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  transition: 0.2s;
}

.checkbox-container {
  margin-right: 2rem;
  width: 100%;
  margin-top: 2rem;
}

/* checkbox styling */
.container {
  display: block;
  position: relative;
  bottom: 4px;
  margin-left: 2rem;
  color: var(--color-primary-grey);
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: var(--color-primary-light-grey);
  border-radius: 3px;
  cursor: pointer;
}

.container:hover input ~ .checkmark {
  background-color: var(--color-primary-light-grey);
}

.container input:checked ~ .checkmark {
  background-color: var(--color-primary);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--color-primary-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */

  nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: var(--color-primary-white);
  }

  main {
    padding: 0 40px;
    padding-top: 100px;
  }

  .first-half {
    flex: 0 1 100vw;
    background-image: url("../icons&pictures/image_summer\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }

  .second-half {
    display: none;
  }
  .subscribe {
    margin-top: 0;
    text-align: center;
    background: linear-gradient(
      180deg,
      var(--color-primary-white) 0%,
      var(--color-primary-gradient) 100%
    );
  }

  .successful_icon_wrapper {
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .title-1 {
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    margin: 30px 1.5rem;
    margin-bottom: 0;
  }

  .title-2 {
    text-align: left;
    padding-top: 10px;
    margin-left: 1.5rem;
  }

  .title-2 p {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
  }

  input[type="text"] {
    margin: 20px;
    padding: 18px 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
  }

  input[type="text"]::placeholder {
    font-size: 16px;
  }

  hr {
    margin: 30px 1.2rem;
  }

  .terms-services {
    text-align: left;
    margin-left: 3rem;
  }

  .checkbox-container {
    margin-right: 0;
    margin-left: 0.5rem;
  }

  .container {
    margin-left: 1rem;
  }
  .social-buttons {
    margin-bottom: 30px;
  }

  .wrapper {
    margin: 0;
  }

  .wrapper span {
    right: 3.5rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  /* CSS */
  nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: var(--color-primary-white);
  }

  main {
    padding: 0 40px;
    padding-top: 100px;
  }

  .first-half {
    flex: 0 1 100vw;
    background-image: url("../icons&pictures/image_summer\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }

  .second-half {
    display: none;
  }
  .subscribe {
    margin-top: 0;
    text-align: center;
    background: linear-gradient(
      180deg,
      var(--color-primary-white) 0%,
      var(--color-primary-gradient) 100%
    );
  }

  .successful_icon_wrapper {
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .title-1 {
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    margin: 30px 1.5rem;
    margin-bottom: 0;
  }

  .title-2 {
    text-align: left;
    padding-top: 10px;
    margin-left: 1.5rem;
  }

  .title-2 p {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
  }

  input[type="text"] {
    margin: 20px;
    padding: 18px 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
  }

  input[type="text"]::placeholder {
    font-size: 16px;
  }

  hr {
    margin: 30px 1.2rem;
  }

  .terms-services {
    text-align: left;
    margin-left: 3rem;
  }

  .checkbox-container {
    margin-right: 0;
    margin-left: 0.5rem;
  }

  .container {
    margin-left: 1rem;
  }
  .social-buttons {
    margin-bottom: 30px;
  }

  .wrapper {
    margin: 0;
  }

  .wrapper span {
    right: 3.5rem;
  }
}
