.social-buttons > * span {
  opacity: 0.3;
}

.social-buttons > *:hover span {
  color: var(--color-primary-white);
  opacity: 1;
}
.social-button#facebook:hover {
  background-color: var(--color-facebook-hover);
}

.social-button#twitter:hover {
  background-color: var(--color-twitter-hover);
}

.social-button#youtube:hover {
  background-color: var(--color-youtube-hover);
}

.social-button#instagram:hover {
  background-color: var(--color-instagram-hover);
}

.social-button#facebook:active {
  background-color: var(--color-facebook-pressed);
}

.social-button#instagram:active {
  background-color: var(--color-instagram-pressed);
}

.social-button#twitter:active {
  background-color: var(--color-twitter-pressed);
}

.social-button#youtube:active {
  background-color: var(--color-youtube-pressed);
}
