:root {
  --color-primary: #4066a5;
  --color-primary-dark: #131821;
  --color-primary-grey: #6a707b;
  --color-primary-light-grey: #e3e3e4;
  --color-primary-gradient: #f2f5fa;
  --color-primary-white: #ffffff;
  --color-facebook-hover: #4267b2;
  --color-instagram-hover: #c13584;
  --color-twitter-hover: #1da1f2;
  --color-youtube-hover: #ff0000;
  --color-facebook-pressed: #2f4a80;
  --color-instagram-pressed: #8f2762;
  --color-twitter-pressed: #177fbf;
  --color-youtube-pressed: #cc0000;
}
/* A font with custom icons */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?8kbg9f");
  src: url("../fonts/icomoon.eot?8kbg9f#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?8kbg9f") format("truetype"),
    url("../fonts/icomoon.woff?8kbg9f") format("woff"),
    url("../fonts/icomoon.svg?8kbg9f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_successful_sub:before {
  content: "\e904";
  color: var(--color-primary);
}
.icon-ic_arrow:before {
  content: "\e903";
}
.icon-ic_facebook:before {
  content: "\e900";
}
.icon-ic_twitter:before {
  content: "\e901";
}
.icon-ic-instagram:before {
  content: "\e902";
}
.icon-ic-youtube:before {
  content: "\1f324";
}
